body {
    background-color: black;
}



.table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tr {
    margin-top: 50px;
    height: 180px;
    width: 500px;
    text-align: center;

    /* border-top-left-radius:50px ;
    border-top-right-radius:50px ; */
}

.tr img {
    height: 150px;
    width: 500PX;
    position: relative;
    bottom: 100px;
    left: 150px;
}

.td {

    justify-content: center;
    display: flex;
}

.td1 {
    height: 750px;
    width: 500px;
    border: 1px solid white;
    position: relative;
    right: 150px;
    bottom: 150px;
    left: 0px;
    color: white;
    background-color: rgb(19, 18, 18);
}

.simg img {
    position: relative;
    left: 500px;
    top: 150px;
}

.h1 {
    margin-left: 150px;
}

.fullname {
    margin-left: 30px;
    background-color: rgb(46, 44, 44);
    height: 65px;
    width: 445px;
    border-radius: 10px;
}

.name {
    height: 30px;
    width: 300px;
    background-color: rgb(46, 44, 44);
    border: none;
    position: relative;
    bottom: 15px;
    left: 30px;
    outline: none;
    color: white;
}

.h3 {
    position: relative;
    left: 30px;
    top: 5px;

}

.g-recaptcha {
    margin-top: 30px;
    margin-left: 105px;
}

.sign-in {
    /* margin-left:30px ;
    background-color:red ;
    /* height:60px ;
    width:445px ; */
    /* border-radius:10px ; */
    /* display:flex;
    margin-top:30px ; */

}

.h2-2 {
    margin-left: 190px;
    margin-left: 30px;
    background-color: red;
    height: 60px;
    width: 445px;
    border-radius: 10px;
    display: flex;
    margin-top: 30px;
    color: white;


}

::placeholder {
    color: white;
}

.h2-3{

    margin-left: 180px;
    margin-top:15px ;
    text-decoration: none;
    color:white ;
    font-size:1.25rem ;
    font-weight: bolder;
    
}